.landing-page {
    text-align: center;
    margin-top: 50px;
  }
  
  .button.all-complaints-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button.all-complaints-button:hover {
    background-color: #45a049;
  }
  
